* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
# Los scripts de Linux siempre con saltos de línea LF, aunque se editen en Windows
*.sh text eol=lf
